#container-1{
    background-color: rgb(16, 47, 48);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container-2{
    background-color: rgb(163, 129, 169);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container-3{
    background-color: rgb(106, 76, 132);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

.text{
    color: rgb(5, 5, 5);
}