---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/public/fashion.webp"
>
	<p>
		Fashion isn’t just about clothes—it’s a form of self-expression, a way to tell the world who I am without saying a word. I love the thrill of experimenting with textures, colors, and silhouettes, transforming my mood with every outfit. Whether it’s the elegance of a perfectly tailored blazer or the edge of an oversized hoodie, fashion lets me be whoever I want to be. It’s art, rebellion, and confidence wrapped in fabric, and I can’t imagine a world without it.








	</p>

	<p>
		Every piece I wear carries a story—some are bold statements, others are quiet whispers of my personality. I find inspiration everywhere, from vintage treasures to high-fashion editorials, and I love the way an outfit can shift my energy, turning an ordinary day into something extraordinary. Fashion isn’t about following trends; it’s about creating moments, embracing creativity, and feeling unstoppable in my own skin. It’s a passion that constantly evolves, just like I do, and that’s what makes it so exciting.








	</p>

	
</Layout>
